.header-component {
  height: 10%;
  padding: 0 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(255, 255, 255);
  
  border-bottom: 1px solid #838383;
}
.logo {
  min-height: 50%;
  width: 50px;
  background-image: url("../../assets//images/blacklogo.png");
  background-repeat: no-repeat;
  background-position: center center;

}
.btn-save {
  height: 70%;
  width: 150px;
}
.btn-save > button {
  width: 100%;
  height: 100%;

  color: #fff;
  font-weight: 400;

  border: none;
  background-color: #000000;
}
.btn-save > button:hover {
  cursor:pointer;
}